.Pupper-card-wrapper {
  padding: 30px;
}

.Pupper-card {
  margin: auto;
  width: 80vh;
  min-width: 400px;
  min-height: 400px;
  height: 0;
  padding-bottom: 80vh;
  border: 3px solid #d3d3d3;
  border-radius: 2px;
  position: relative;
}

.Pupper-card-image img{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.Pupper-card-overlay {
    background: rgba(54,54,54,0.3);
    text-align: center;
    vertical-align: middle;
    z-index: 100;
    position: absolute;
    color: white;
    font-size: 3.2vh;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.icon {
    font-size: 300%;
    color: #F87878;
    -webkit-animation: fadeinout 2s linear infinite;
    animation: fadeinout 2s linear infinite;
}

.Pupper-card-overlay-text {
    font-family: edmondsans-regular;
    padding: 10%;
}

/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: #E9E9E9;
}

/* selected link */
a:active {
    color: #F87878;
}

@-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}
