.Live-container {
  text-align: center;
}

.App-intro {
  width: 0px;
  height: 0px;
  visibility: hidden;
}

.App-button {
  padding: 5px;
}

.App-Screenshot {
  padding-top: 20px;
  padding-bottom: 10px;
}

.App-Screenshot-Title {
  font-weight: bold;
}
